build:ghc_9_0_2 --repo_env=GHC_VERSION=9.0.2
fetch:ghc_9_0_2 --repo_env=GHC_VERSION=9.0.2
query:ghc_9_0_2 --repo_env=GHC_VERSION=9.0.2
sync:ghc_9_0_2 --repo_env=GHC_VERSION=9.0.2
run:ghc_9_0_2 --repo_env=GHC_VERSION=9.0.2

build:ghc_9_2_2 --repo_env=GHC_VERSION=9.2.2
fetch:ghc_9_2_2 --repo_env=GHC_VERSION=9.2.2
query:ghc_9_2_2 --repo_env=GHC_VERSION=9.2.2
sync:ghc_9_2_2 --repo_env=GHC_VERSION=9.2.2
run:ghc_9_2_2 --repo_env=GHC_VERSION=9.2.2

build:ghc_8_10_7 --repo_env=GHC_VERSION=8.10.7
fetch:ghc_8_10_7 --repo_env=GHC_VERSION=8.10.7
query:ghc_8_10_7 --repo_env=GHC_VERSION=8.10.7
sync:ghc_8_10_7 --repo_env=GHC_VERSION=8.10.7
run:ghc_8_10_7 --repo_env=GHC_VERSION=8.10.7

try-import .bazelrc.local
